name: CI

on:
  push:
    branches: ["main", "beta"]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: ["main", "beta"]
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: CI Setup
        run: npm ci
      - name: Code Quality Checks
        run: |
          npm run lint
          npm run format:check
      - name: Build
        run: npm run build
      - name: Test
        run: npm test
